{% load static %}
<link rel="stylesheet" href="{% static 'core/css/_navbar.css' %}">

<div class="navbar">
    <div class="logo">
        <a href="/">{% load static %}
            <img class="logo-image" src="{% static 'core/img/logo.png' %}" alt="Nexa">
        </a>
    </div>
    <div class="menu">
        <a href="/">Home</a>
        <a href="/products/">Products</a>
        <a href="/products/favorites">Favorites</a>
        <a href="/products/add">Add products</a>
        <a href="/profile">Account</a>
    </div>
</div>