body {
    background: hsla(242, 39%, 16%, 1);
    background: linear-gradient(45deg, #181635 75%, hsla(240, 55%, 27%, 1) 88%, rgb(71, 33, 112) 95%);

    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

.container {
    width: 500px;
    margin: 10rem auto;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    background-color: rgba(189, 189, 189, 0.1);
    border-left: 3px solid #fff;
    font-family: 'Space Mono', monospace;
    line-height: 1.4;
    letter-spacing: 0.2px;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}