{% load static %}

<link rel="stylesheet" href="{% static 'core/css/_navbar.css' %}">
<link rel="stylesheet" href="{% static 'core/css/_footer.css' %}">
<link rel="stylesheet" href="{% static 'products/css/_product.css' %}">
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">

{% include "core/_navbar.html" %}

<div class="products-grid">
    {% if products %}
    {% for product in products %}
    {% include "products/_product_card.html" %}
    {% endfor %}
    {% else %}
    <p style="opacity:.7; margin:4rem auto; text-align:center;">
        No favorites yet.
    </p>
    {% endif %}
</div>

{% include "core/_footer.html" %}