{% load static %}

<link rel="stylesheet" href="{% static 'core/css/_navbar.css' %}">
<link rel="stylesheet" href="{% static 'core/css/_footer.css' %}">
<link rel="stylesheet" href="{% static 'products/css/_product.css' %}">
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">

{% include "core/_navbar.html" %}

<div class="products-grid">
    {% for product in products %}
    <div class="product-card">

        {% if product.image %}
        <div class="product-image">
            <img src="{{ product.image.url }}" alt="{{ product.title }}">
        </div>
        {% endif %}

        <div class="product-header">
            <h3>{{ product.title }}</h3>

            {% if product.is_subscription %}
            <span class="badge">Subscription</span>
            {% else %}
            <span class="badge one-time">One time</span>
            {% endif %}
        </div>

        <p class="product-description">{{ product.description }}</p>

        {% if product.is_subscription %}
        <p class="product-duration">
            Expiry in: {{ product.duration_days }} days
        </p>
        {% endif %}

        <div class="product-footer">
            <span class="price">{{ product.price }} $</span>

            <div class="actions">
                <button class="buy-btn">Buy</button>

                <form action="{% url 'products:delete_product' product.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="delete-btn">Delete</button>
                </form>
            </div>
        </div>

    </div>
    {% endfor %}
</div>




{% include "core/_footer.html" %}